@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-white: #ffffff;
    --secondary-grey: #c0c0c0;
    --button-blue: #167df7;
    --button-bluehover: #159ae1;
    --button-greyhover: #272727;
    --main-bg-color: #00030c;
    --main-font: 'Inter', sans-serif;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}

.main {
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.main__text {
    line-height: 34px;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.assine12x {
    text-decoration: none;
    margin-bottom: 1em;
    background-color: var(--button-blue);
    color: var(--main-white);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-align: center;
}

.assine12x:hover {
    background-color: var(--button-bluehover);
}

.assinesomente {
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    background-color: transparent;
    color: var(--main-white);
    display: block;
    border: 2px solid var(--main-white);
    text-align: center;
}

.assinesomente:hover {
    background-color: var(--button-greyhover);
}

.warning {
    color: var(--secondary-grey);
    font-size: 0.75rem;
    text-align: center;
}

.container__combo {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.secondary__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 12em;
    gap: 100px;
    margin-bottom: 20em;
}

.secondary__image {
    width: 40%;
}

.secondary__container__description__main {
    text-align: left;
    font-size: 3em;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0.4em;
}

.secondary__container__description__text {
    text-align: left;
    line-height: 120%;
    font-size: 1rem;
    color: var(--secondary-grey);
    font-weight: 400;
}

.assinecombo {
    margin-top: 1em;
    text-decoration: none;
    display: inline-block;
    background-color: var(--button-blue);
    border-radius: 8px;
    color: var(--main-white);
    padding: 1rem;
}

.assinecombo:hover {
    background-color: var(--button-bluehover);
}

.tertiary__container {
    text-align: center;
}

.tertiary__container__title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: var(--main-white);
}

.tertiary__container__list {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.tertiary__container__images__description {
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--main-white);
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.footer__list__links a {
    text-decoration: none;
    color: var(--main-white);
    font-size: 1rem;
    margin-left: 1em;
}

.footer__list__links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--button-blue);
    color: var(--button-blue);
}

.footer__description {
    font-size: 0.75rem;
    color: var(--secondary-grey);
    margin: 2em 0;
    text-align: center;
}

footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__logo {
    margin: 5em 0 2em 0;
}
